// BACKGROUND IMAGES

.background-image {
  background-size: cover;
  background-image: url(https://www.cvc.com.br/imageproc/image/upload/f_auto,q_auto/v1/CVC/home/bg_motor_cvc_desktop.png);
  background-position: center center;
  min-height: 100px;
}

.banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.text-white {
  color: white !important;
}

.cover-content {
  padding: 16px 24px 16px;
  position: relative;
  color: white;
}

// SELECT PROCESS

.progress-bar {
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}

.offers-card {
  cursor: pointer;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px 0px;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  width: 205px;
  height: 207px;
}

.offers-card-content {

}

.offers-card-content-price {
  border-left: 1px solid rgb(231, 231, 231);
  padding: 16px;
}

.flights-card {
  cursor: pointer;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px 0px;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  width: 682px;
  height: fit-content;
}

.hotels-card {
  cursor: pointer;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px 0px;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  width: 320px;
  height: fit-content;
}

.hotels-card-pic {
  height: 150px;
  width: 320px;
  padding-bottom: 16px;
}

.thin-border-card {
  background: rgb(162, 162, 162);
  height: 1px;
  margin-bottom: 16px;
}

// USER STUFF

.content-card {
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px 100px 40px 30px;
  justify-content: space-between;
}
