// BACKGROUND IMAGES

.background-image {
  background-size: cover;
  background-image: url(https://www.cvc.com.br/imageproc/image/upload/f_auto,q_auto/v1/CVC/home/bg_motor_cvc_desktop.png);
  background-position: center center;
  min-height: 100px;
}

.cover-content {
  padding: 16px 24px 16px;
  position: relative;
  color: white;
}

// SELECT PROCESS

.offers-card {
  cursor: pointer;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px 0px;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  width: 205px;
  height: 207px;
}

.offers-card-content {

}

.offers-card-content-price {
  border-left: 1px solid rgb(231, 231, 231);
  padding: 16px;
}

.flights-card {
  cursor: pointer;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px 0px;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  width: 682px;
  height: fit-content;
}

.hotels-card {
  cursor: pointer;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px 0px;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  width: 320px;
  height: fit-content;
}

.hotels-card-pic {
  height: 150px;
  width: 320px;
  padding-bottom: 16px;
}

.thin-border-card {
  background: rgb(162, 162, 162);
  height: 1px;
  margin-bottom: 16px;
}

.content_page {
  margin-top: 50px;
}

// BTN SELECT

.btn_select{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  color: rgb(37, 37, 37);
  z-index: 0;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.btn_select:hover {
  background: rgb(193, 228, 248);
  color: rgb(58, 152, 185);
}

// USER STUFF

.content-card {
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px 100px 40px 30px;
  justify-content: space-between;
}

// RESUME OF PACKAGE CARD

.body-resume-card{
  background: white;
}

// HOTEL INDEX

.image-hotel {
  width: 200px;
  height: 150px;
  min-width: 200px;
  border-radius: 5px;
}

// EXTRA ELEMENTS

.thin-line-between {
  height: 1px;
  width: auto;
  border: 1px solid rgb(231, 231, 231);
}

.thin-line-between-blue {
  height: 2px;
  width: auto;
  border: 1px solid rgb(58, 152, 185);
}

.form-style {
  border-radius: 5px;
}

.btn_cta{
  width: 120px;
  height: 40px;
  border: 0;
  border-radius: 50px;
  padding: 5px 15px;
  color: white;
  background-color: #004F8F;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  overflow: hidden;
  transition: all 0.02s;
}

.btn_cta:hover {
  background: #013B60;
  color: white;
}

.search-form {
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 30px 20px 30px;
  justify-content: space-between;
}

.logo-size {
  width: 100px;
}
