<div class="content_page">

  <h3>Our avaliables hotel</h3>

    <% @hotel_data.each do |hotel|%>
      <p> <%= hotel[:hotel_title]%> </p>
      <%= button_to "Select", {:controller => "hotels", :action => "create", hotel: hotel, offer: params[:offer]},class: "btn_select", method: :post %>
    <% end %>

</div>
